@model Inlupp1ProduktPresentation.Models.ViewModels._EditUserViewModel

@{
    Layout = null;
    Model.PreviousSelectedRoleId = Model.SelectedRoleId;
}


<div class="card mb-4" id="forms">
    <div class="card-header">Redigera användare</div>
    <div class="card-body">
        <form method="post" asp-controller="Admin" asp-action="_EditUser" asp-route-id="@Model.Id">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="UserName">Användarnamn</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="UserName" placeholder="Användarnamn">
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">Användarroll</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <select asp-for="SelectedRoleId" asp-items="Model.Roles"></select>
                        <span asp-validation-for="SelectedRoleId"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit">Spara</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            $('.btn-edit').click(function () {
                var value = $(this).data("value");
                $.ajax({
                    url: "/Admin/_EditUser?selectedID=" + value,
                    success: function (result) {
                        $('#userDetails').html(result);
                    }
                });
            });



            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="#" class="breadcrumbs__link breadcrumbs__link--active">Redigera användare</a>');
            });
        });

    </script>
}


