@model Inlupp1ProduktPresentation.Models.ViewModels.AdminNewCategoryViewModel
@{
    ViewData["Title"] = "Ny kategori";
}


<form method="post" asp-controller="Admin" asp-action="NewCategory">
    <div class="form-group">
        <label asp-for="Name" class="text-uppercase">Namn</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="text-uppercase">Beskrivning</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="background-color: rgb(64, 145, 108)">Spara</button>
    </div>
</form>


@section Scripts
{
    <script>
        $(document).ready(function() {

            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="/Admin/NewCategory" class="breadcrumbs__link breadcrumbs__link--active">Ny Kategori</a>');

            });
        });
    </script>
}
