@model Inlupp1ProduktPresentation.Models.ViewModels.AdminNewProductViewModel
@{
    ViewData["Title"] = "Ny Produkt";
}

<form method="post" asp-controller="Admin" asp-action="NewProduct">
    <div class="form-group">
        <label asp-for="Name" class="text-uppercase">Namn</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="text-uppercase">Beskrivning</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="text-uppercase">Pris</label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedCategoryId" class="text-uppercase">Produktkategori</label>
        <select asp-for="SelectedCategoryId" asp-items="Model.Categories"></select>
        <span asp-validation-for="SelectedCategoryId" class="field-validation-error"></span>
    </div>
    <div class="form-check">
        <input asp-for="PublishOnWebsite" class="form-check-input">
        <label asp-for="PublishOnWebsite" class="form-check-label text-uppercase">Publicera på webshopen</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="background-color: rgb(64, 145, 108)">Spara ändringar</button>
    </div>
</form>


@section Scripts
{
    <script>
        $(document).ready(function() {

            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="/Admin/NewProduct" class="breadcrumbs__link breadcrumbs__link--active">Ny produkt</a>');
            });
        });
    </script>
}
