@model Inlupp1ProduktPresentation.Models.ViewModels.AdminNewUserViewModel

@{
    ViewData["Title"] = "Skapa ny användare";
}


<div class="card mb-4" id="forms">
    <div class="card-header">Ny Användare</div>
    <div class="card-body">
        <form method="post" asp-controller="Admin" asp-action="NewUser">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="UserName">Användarnamn</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="UserName" placeholder="Användarnamn (minst 5 tecken)">
                    <span asp-validation-for="UserName" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Password">Lösenord</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Password" placeholder="Email">
                    <span asp-validation-for="Password" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="ConfirmPassword">Lösenord</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="Email">
                    <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">Användarroll</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <select asp-for="SelectedRoleId" asp-items="Model.Roles"></select>
                        <span asp-validation-for="SelectedRoleId"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit">Spara</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            
            $(function RenderBreadcrumb() {

                $('.breadcrumbs').append('<li class="breadcrumbs__item"></li>');
                $('a.breadcrumbs__link').removeClass('breadcrumbs__link--active');
                $('li.breadcrumbs__item:last').append('<a href="#" class="breadcrumbs__link breadcrumbs__link--active">Ny användare användare</a>');
            });
        });

    </script>
}


