@model Inlupp1ProduktPresentation.Models.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Startsida";
}



<div class="text-center">
    <h1 class="display-4">Välkommen till Priyangas växtshop!</h1>
    <p>Välj kategori nedan eller kika på samtliga produkter i menyn ovan.</p>
</div>

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-lg-4 col-md-6 p-5 text-center"  style="letter-spacing: .2em; text-transform: uppercase;">
            <img class="img-fluid" src="~/img/category/@(category.ImageName).jpeg" />
            <a class="nav-link text-secondary" asp-controller="Category" asp-action="GetProducts" asp-route-Id="@category.Id"><h4>@category.Name</h4></a>
            <p>@category.Description</p>
        </div>
    }
</div>
